/* App.css */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #313131;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
}

.login-button {
    background-color: #0259ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 2px;
    margin-top: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.login-button:hover {
    background-color: #2573ff;
}

.user-name {
    position: absolute;
    left: 60px;
    top: 20px;
    color: #fdc445;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    gap: 15px; /* Space between balance and menu button */
}

.balance {
    font-size: 23px;
    color: #fdc445;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.title {
    position: absolute;
    left: 50%;
    font-family: -apple-system;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 76px;
    color: #fdc445;
    margin-top: 100px;

}

.copyR {
    position:absolute;
    left: 63%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 20px;
    color: #fdc445;
    margin-top: 81px;
}

.logged-in-icon,
.logged-out-icon {
    position: absolute;
    font-size: 23px;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 10px;
}

.menu-button {
    background-color: #101010;
    color: #fdc445;
    border: none;
    border-radius: 50%;
    margin-top: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.menu-button:hover {
    background-color: #383838; /* Change background color on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* Add a shadow effect */
    color: #fdc445; /* Change the text/icon color */
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.multiplier-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.box-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.box-button {
    background-color: #ff00ff;
    color: #fff;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.box-button:hover {
    transform: scale(1.05);
}


.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 8px;
    width: 150px;
    box-shadow: 0 4px 12px rgb(26, 26, 26);
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: rgb(42, 42, 42);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #222;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal h2 {
    margin-top: 1px;
    font-size: 36px;
    margin-bottom: 20px;
    color: #fdc445;
}
.modal h1 {
    margin-top: 1px;
    font-size: 52px;
    margin-bottom: 20px;
    color: #fdc445;
}

.modal input {
    width: 324px;
    padding: 12px;
    background-color: #333;
    color: #ddd;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

.modal input::placeholder {
    color: #bbb;
}

.modal input:focus {
    border-color: #fdc445;
}

.modal button {
    padding: 12px;
    background-color: #383838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.modal button:hover {
    background-color: #444444;
}

.close-button {
    background-color: #444;
    color: white;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #666;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-button {
    background: none;
    color: #fdc445;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    outline: none;
    padding: 0;
    transition: color 0.3s;
}

.register-button:hover {
    color: #ffdd77;
}

.dynamic-buttons-container {
    display: grid;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.dynamic-buttons-container.dynamic-2 {
    grid-template-columns: repeat(2, 1fr);
}

.dynamic-buttons-container.dynamic-6,
.dynamic-buttons-container.dynamic-12 {
    grid-template-columns: repeat(3, 1fr);
}

.dynamic-button {
    background-color: #ff00ff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 10px 5px yellow;
    }
    100% {
        box-shadow: 0 0 20px 10px orange;
    }
}

.dynamic-buttons-container.dynamic-2 .dynamic-button {
    width: 250px;
    height: 167px;
    font-size: 76px;
    justify-content: center;
}

.dynamic-buttons-container.dynamic-6 .dynamic-button {
    width: 150px;
    height: 100px;
    font-size: 46px;
}

.dynamic-buttons-container.dynamic-12 .dynamic-button {
    width: 120px;
    height: 80px;
    font-size: 30px;
}

.dynamic-button:hover {
    transform: scale(1.05);
}

.dollar-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.dollar-button {
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin-top: 150px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.dollar-button.selected {
    background-color: #28a745;
    transform: scale(1.5);
}

.losing-field {
    background-color: #d71212;
    color: #070707;
    font-weight: bold;
}

.winning-field {
    background-color: #28a745;
    color: #ffffff;
}

.congratulations {
    font-size: 1.5em;
    color: gold;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.back-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    position: absolute;
    right: 0;
    bottom: -70px;
    transition: transform 0.4s ease;
}

.back-button:hover {
    transform: scale(1.05);
}

.dynamic-buttons-wrapper {
    position: relative;
    display: inline-block;
}

.user-info {
    display: flex;
    align-items: center;
}

.logged-in-icon,
.logged-out-icon {
    font-size: 1.5rem;
    margin-right: 8px;
    margin-left: 10px;
}

.user-name {
    font-weight: bold;
}

.bet-amount-banner {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    background-color: #a413b7;
    color: #ffff00;
    width: 97%;
    border-radius: 5px;
    margin-top: 150px;
    border: 2px solid yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Slot Machine Container */
.slot-machine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Slot Machine Display */
.slot-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 150px;
    margin: 20px auto;
    border: 4px solid #ffcc00;
    border-radius: 10px;
    background: #222;
    position: relative;
}

/* Individual Reels */
.slot-machine-reel {
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 0 5px;
}

.slot-symbol {
    width: 100%;
    height: 150px;
    font-size: 80px;
    color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Spin Button */
.large-jackpot-button {
    width: 300px;
    font-size: 24px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #222;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
    border: 2px solid yellow;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.large-jackpot-button:hover {
    background-color: #ffb700;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.large-jackpot-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

/* Back Button */
.slot-machine-container .back-button {
    position: absolute;
    right: 0;
    bottom: -60px;
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.slot-machine-container .back-button:hover {
    transform: scale(1.05);
}

/* Deposit Modal Styling */
.deposit-modal {
    width: 560px;
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.wallet-address-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.wallet-address-container input {
    width: 240px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    text-align: center;
}

.wallet-address-container button {
    background-color: #30569a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.wallet-address-container button:hover {
    background-color: #467ac9;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.copy-button {
    background-color: #444;
    color: white;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #555;
}

.deposit-modal input[type="text"] {
    color: #28a745;
    font-size: 20px; /* Größere Schrift */
    padding: 15px;
    width: 498px;
    border: 2px solid #555; /* Deutlicherer Rahmen */
}

.deposit-modal button {
    padding: 15px 20px;
    width: 95%;
    font-size: 16px; /* Größere Buttons */
}

